<template lang="pug">
.div.pa-2
  section
    h1.display-1.pa-2 {{ queryName }}
    v-row(align="center" justify="center")
      StatCard(
        v-for="card in countryDataCards"
        :key="card.title"
        :bgColor="card.bgColor"
        :cardTitle="card.title"
        :cardAmount="card.amount"
        :cardAmountNew="card.amountNew"
        :cardIcon="card.cardIcon"
      )
  section.display-1 Visuals
    v-row(align="center" justify="center")
      line-chart.ma-2.col-12.col-sm-5(v-for="v in countryDataVisuals" :key="v.id" :chart-data="v.charData" :options="v.options")

</template>

<script>
import StatCard from './StatCard'
import lineChart from './lineChart'

export default {
  name: 'Country',
  props: ['queryName'],
  mounted () {
  },
  components: {
    StatCard, lineChart
  },
  computed: {
    countryDataCards () {
      let countryData = this.$store.getters.country || null
      if (!countryData) return
      const { cases, deaths, recovered } = countryData.visualData

      return [
        {title: 'total cases', bgColor: 'primary lighten-2', amount: countryData.cases, amountNew: cases[cases.length - 1] - cases[cases.length - 2], cardIcon: 'mdi-alert-box'},
        {title: 'deaths', bgColor: 'red accent-2', amount: countryData.deaths + ` (${(countryData.deaths / countryData.cases * 100).toFixed(2)}%)`, amountNew: deaths[deaths.length - 1] - deaths[deaths.length - 2], cardIcon: 'mdi-emoticon-dead'},
        {title: 'recoveries', bgColor: 'teal lighten-1', amount: countryData.recoveries + ` (${(countryData.recoveries / countryData.cases * 100).toFixed(2)}%)`, amountNew: recovered[recovered.length - 1] - recovered[recovered.length - 2], cardIcon: 'mdi-hospital-box'}
      ]
    },
    countryDataVisuals () {
      let countryData = this.$store.getters.country || null
      if (!countryData) return
      const visuals = []
      let i = 0
      const colors = [ '#75ccff', '#ff5252', '#26a69a' ]
      for (const key in countryData.visualData) {
        const options = {
          responsive: true,
          maintainAspectRatio: true
        }
        const charData = {
          labels: Object.keys(countryData.visualData[key]),
          datasets: [
            {
              label: 'Total ' + key,
              backgroundColor: colors[i],
              data: Object.values(countryData.visualData[key])
            }
          ]
        }
        visuals.push({charData, options})
        i++
      }
      return visuals
    }
  }
}
</script>

<style scoped>

</style>
