<template lang="pug">
div
  h2.display-1.pa-2 Top Countries
  v-row(align="center" justify="center")
    v-col(
      v-for="(country, i) in $store.state.country.countries"
      :key="i"
    )
      v-card(shaped).col-12
        v-card-text.headline(v-text="country.name") {{ country.name }}
        v-card-subtitle
          v-row(align="center" justify="center")
            v-chip(color="secondary").ma-2 {{ country.cases + ' cases' }}
            v-chip(color="red lighten-2").ma-2 {{ country.deaths + ' deaths' }}
            v-chip(color="green lighten-2").ma-2 {{ country.recoveries + ' recoveries' }}
        v-card-actions
          v-row(align="center" justify="center")
            v-btn(link :to="'/country/'+ country.name") {{ `Show ${country.name} stats`}}

</template>

<script>
export default {
  name: 'Countries.vue'
}
</script>
