<template lang="pug">
  main.pa-2
    section
      h1.display-1.pa-2 World Summary Stats
      v-row(align="center" justify="center")
        StatCard(
          v-for="card in cards"
          :key="card.title"
          :bgColor="card.bgColor"
          :cardTitle="card.title"
          :cardAmount="card.amount"
          :cardAmountNew="card.amountNew"
          :cardIcon="card.cardIcon"
        )
    section.display-1 Visuals
      v-row(align="center" justify="center")
        line-chart.ma-2.col-12.col-sm-5(v-for="v in visuals" :key="v.id" :chart-data="v.chartData" :options="v.options")

</template>

<script>
import StatCard from './StatCard'
import lineChart from './lineChart'
export default {
  name: 'Main',
  components: {StatCard, lineChart},
  data () {
    return {
      cards: [
        {title: 'total cases', bgColor: 'primary lighten-2', amount: 0, amountNew: 0, cardIcon: 'mdi-alert-box'},
        {title: 'deaths', bgColor: 'red accent-2', amount: 0, amountNew: 0, cardIcon: 'mdi-emoticon-dead'},
        {title: 'recoveries', bgColor: 'teal lighten-1', amount: 0, amountNew: 0, cardIcon: 'mdi-hospital-box'}
      ],
      visuals: [
        {
          id: 1,
          chartData: {
            labels: [],
            datasets: [
              {
                label: '',
                backgroundColor: '',
                data: []
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true
          }
        },
        {
          id: 2,
          chartData: {
            labels: [],
            datasets: [
              {
                label: '',
                backgroundColor: '',
                data: []
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true
          }
        },
        {
          id: 3,
          chartData: {
            labels: [],
            datasets: [
              {
                label: '',
                backgroundColor: '',
                data: []
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true
          }
        }
      ]
    }
  },
  mounted () {
    this.axios.get('https://corona.lmao.ninja/v2/all')
      .then(response => { this.updateStats(response.data) })
      .catch(err => { console.error('An API error', err) })
    this.axios.get('https://corona.lmao.ninja/v2/historical/all')
      .then(res => { this.updateVisuals(res.data) })
  },
  methods: {
    updateStats (response) {
      this.cards[0].amount = response.cases
      this.cards[0].amountNew = response.todayCases
      this.cards[1].amount = response.deaths
      this.cards[1].amountNew = response.todayDeaths
      this.cards[2].amount = response.recovered
      this.cards[2].amountNew = response.todayRecovered
    },
    updateVisuals (res) {
      let i = 0
      const colors = [ '#75ccff', '#ff5252', '#26a69a' ]
      for (const resKey in res) {
        this.visuals[i].chartData = {
          labels: Object.keys(res[resKey]),
          datasets: [
            {
              label: 'Total ' + resKey,
              backgroundColor: colors[i],
              data: Object.values(res[resKey])
            }
          ]
        }
        i++
      }
    }
  }
}
</script>

<style >
</style>
