<template lang="pug">
  v-app-bar(app clipped-left)
    v-app-bar-nav-icon(@click.stop="$emit('switchDrawer')")
    v-icon.mr-3 mdi-virus
    v-toolbar-title COVID-20 Stats
    v-spacer
    v-switch(
      v-model="$vuetify.theme.dark"
      hide-details
      inset
      label="Theme Dark"
    )
    v-menu.mr-4(left bottom)
      template(v-slot:activator="{ on, attrs }")
        v-btn(icon v-bind="attrs" v-on="on")
          v-icon mdi-dots-vertical
      v-list
        v-list-item(
          v-for="country in countries"
          :key="country"
          @click="() => {}"
          link :to="'/country/' + country"
          )
          v-list-item-title(@click="updateCountry(country)")  {{ country }}
</template>

<script>

export default {
  name: 'Navbar',
  async mounted () {
    await this.$store.dispatch('updateTopCountries')
  },
  computed: {
    countries () {
      return this.$store.getters.topCountries
    }
  },
  methods: {
    updateCountry (country) {
      this.$store.dispatch('newCountryName', country)
    }
  }
}
</script>

<style scoped>

</style>
