<template lang="pug">
  v-card.summary-card.ma-3.pt-6(max-width="300" raised :class="bgColor")
    .icon-wrapper
      v-icon {{ cardIcon }}
    v-card-title.headline
      span.count.text-center.text-bold {{ cardAmount }}
    v-card-subtitle.text-center {{ cardTitle }}
    v-card-subtitle.text-center {{ cardAmountNew + ' last day' }}
</template>

<script>
export default {
  name: 'StatCard',
  props: {
    bgColor: String,
    cardIcon: String,
    cardTitle: String,
    cardAmount: Number,
    cardAmountNew: Number
  }
}
</script>

<style>
.text-bold {
  font-weight: 600;
}
.icon-wrapper > .v-icon {
  margin: auto;
  width: 100%;
  font-size: 2rem;
}
.summary-card {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.summary-card .headline > .count {
  width: 100%;
}
</style>
