<template lang="pug">
v-app#app(app)
  v-navigation-drawer(v-model="drawer" app clipped)
    v-list(dense)
      v-list-item(v-for='item in items' :key='item.title' link :to="item.link")
        v-list-item-icon
          v-icon {{ item.icon }}
        v-list-item-content
          v-list-item-title {{ item.title }}
  Navbar(@switchDrawer="drawer = !drawer")
  v-main
    v-container
      router-view
  v-footer(app)
    span pullso &copy; {{ new Date().getFullYear() }}
</template>

<script>
import Navbar from './components/Navbar'

export default {
  name: 'App',
  components: {Navbar},
  data: () => ({
    drawer: false,
    items: [
      { title: 'World Statistic', icon: 'mdi-earth', link: '/' },
      { title: 'Countries', icon: 'mdi-flag', link: '/countries' }
    ]
  })
}
</script>

<style>
#app {

}
</style>
